<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis的编写参考mybatis的官方文档:http://www.mybatis.org/mybatis-3/ 来拿到DOCTYPE中的内容 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- mapUnderscoreToCamelCase驼峰命名规则 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<!-- typeAliases类型别名 -->
	<typeAliases>
		<package name="com.wsn.bean" />
	</typeAliases>
</configuration>