<!doctype html>
<html>

<head>
<meta charset="UTF-8">
<title></title>
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link href="../css/mui.min.css" rel="stylesheet" />
</head>

<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">修改信息</h1>
	</header>
	<div class="mui-content">
		<ul class="mui-table-view">
			<li class="mui-table-view-cell">
				<div class="mui-input-row">
					<label>工号：</label> <input type="text" onclick="WorkNum()"
						class="mui-input" id="ip_work_num" style="text-align: center;"
						readonly="readonly">
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-input-row">
					<label>姓名：</label> <input type="text" class="mui-input-clear"
						id="ip_name" style="text-align: center;">
				</div>
			</li>

			<li class="mui-table-view-cell">
				<div class="mui-input-row">
					<label style="display: block;float: left;width: 35%;">职位:</label>
					<div style="display: block;width: 60%;float: left;">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-collapse"><a
								id="position" class="mui-navigate-right" href="#"
								style="text-align: center;"></a>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setPosition(this)"
											href="#">院长</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setPosition(this)"
											href="#">主管院长</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setPosition(this)"
											href="#">科室主任</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setPosition(this)"
											href="#">科室副主任</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setPosition(this)"
											href="#">护士长</a>
									</p>
								</div></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-input-row">
					<label style="display: block;float: left;width: 35%;">工资：</label>
					<div style="display: block;width: 60%;float: left;">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-collapse"><a id="wage"
								class="mui-navigate-right" href="#" style="text-align: center;"></a>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setWage(this)">5000元</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setWage(this)">6000元</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setWage(this)">7000元</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setWage(this)">8000元</a>
									</p>
								</div>

								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setWage(this)">9000元</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setWage(this)">10000元</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;">自定义</a>
									</p>
								</div></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-input-row">
					<label style="display: block;float: left;width: 35%;">科室：</label>
					<div style="display: block;width: 60%;float: left;">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-collapse"><a
								id="department" class="mui-navigate-right" href="#"
								style="text-align: center;"></a>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setDepartment(this)">心血管内科</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setDepartment(this)">消化内科</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setDepartment(this)">呼吸内科</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setDepartment(this)">泌尿内科</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setDepartment(this)">神经内科</a>
									</p>
								</div>
								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setDepartment(this)">血液科</a>
									</p>
								</div>

								<div class="mui-collapse-content">
									<p style="text-align: center;">
										<a style="color: #000000;" onclick="setDepartment(this)">内分泌科</a>
									</p>
								</div></li>
						</ul>
					</div>
				</div>
			</li>

		</ul>
		<button id="submit" type="button"
			class="mui-btn mui-btn-blue mui-btn-block" style="margin-top: 20px;">提交</button>
	</div>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript">
		mui.init()
		//提交按钮
		var session_name;
		var session_wage;
		var session_position;
		var session_work_num;
		var session_department;
		window.onload = function() {
			//session获取数据
			var mac = sessionStorage.getItem("mac_info");
			var name = sessionStorage.getItem("name_info");
			var wage = sessionStorage.getItem("wage_info");
			var position = sessionStorage.getItem("position_info");
			var work_num = sessionStorage.getItem("work_num_info");
			var department = sessionStorage.getItem("department_info");
			session_name=name;
			session_wage=wage;
			session_position=position;
			session_work_num=work_num;
			session_department=department;
	
			var ip_name = document.getElementById("ip_name");
			var ip_worknum = document.getElementById("ip_work_num");
			var ip_department = document.getElementById("department");
			var ip_wage = document.getElementById("wage");
			var ip_position = document.getElementById("position");
	
			ip_name.value = name;
			ip_worknum.value = work_num;
			ip_department.text = department;
			ip_position.text = position;
			ip_wage.text = wage + "元";
	
		}
		document.getElementById('submit').addEventListener('tap', function() {
			var mac = sessionStorage.getItem("mac_info");
			var name = document.getElementById("ip_name").value;
			var work_num = document.getElementById("ip_work_num").value;
			var department = document.getElementById("department").text;
			var wage = document.getElementById("wage").text;
			var position = document.getElementById("position").text;
			var ori_name = session_name;
			var ori_department = session_department;
			var ori_wage = session_wage+"元";
			var rou_position = session_position;
// 			alert(name+ori_name+department+ori_department+wage+ori_wage+position+rou_position)
			if (name == ori_name && department == ori_department && wage == ori_wage && position == rou_position) {
				mui.alert("未检测到修改信息");
			} else {
				var req_mac = parseInt(mac);
				var req_wage = parseInt(wage);
				mui.confirm("是否确认修改", "确认", [ "确认", "取消" ], function(e) {
					if (e.index == 0) {
						mui.ajax("http://localhost:8080/wsn/updateDoctor", {
							data : {
								mac : req_mac,
								name : name,
								work_num : work_num,
								department : department,
								wage : req_wage,
								position : position
							},
							dataType : 'json',
							type : 'get',
							timeout : 10000,
							contentType : "application/x-www-form-urlencoded;charset=UTF-8",
							headers : {
								'Content-Type' : 'application/json'
							},
							success : function(data) {
								var result = data.msgCode;
								if (result == 200) {
									mui.toast("修改成功", {
										duration : 500
									});
									mui.later(function() {
										mui.openWindow({
											url : 'list.html',
											list : 'list'
										})
									}, 500)
								}
							},
							error : function(xhr, type, errorThrown) {
								//异常处理；
								console.log(type);
							}
						});
					}
				})
			}
	
		})
	
		function setPosition(obj) {
			var position = document.getElementById("position");
			position.text = obj.text;
		}
	
		function setWage(obj) {
			var wage = document.getElementById("wage");
			wage.text = obj.text;
		}
	
		function setDepartment(obj) {
			var department = document.getElementById("department");
			department.text = obj.text;
		}
	
		function WorkNum() {
			mui.toast("工号不可修改！");
		}
	</script>
</body>

</html>